@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* @layer utilities {
  .custom-scrollbar {
    @apply overflow-y-auto scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-8;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-4;
  }
} */
.line-through-text::before {
  content: "";

  position: absolute;
  top:42.5%;
  width: 11%;
  height: 2px;
 
  background-color: #110101;
}